# Ignore Terraform local files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
crash.log
# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS credentials
.aws/
*.zip

# Docker cache
*.tar
.terraform/
